*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

body
{
    background-color:whitesmoke;
}    

#partition
{
    display:flex;
    overflow: hidden;
    opacity:0.9;
}

#partition1
{
    overflow: hidden;
    flex:40%;
    background-color:#7393B3;
    border-top-right-radius:2px;
    border-bottom-right-radius:5px;
    display: flex;
    height:80px;
}

#partition1 h2
{
    margin-top:5%;
    font-size:larger;
    margin-left:5%;
}

#partition img
{
    border-bottom-right-radius:10px;
    transition:0.9s;
}

#partition img:hover
{
    transform:scale(1.1);
}

#partition2
{
    overflow: hidden;
    flex:60%;
    background-color:darksalmon; 
    height: 75px; 
    margin-top: 2px;
    border-bottom-right-radius:10px;
}

.links
{
    margin-top:6%;
    margin-left:40%;
}

.links a
{
    color:black;
    text-decoration:none;
    transition:0.9s;
}

.links a:hover
{
    color:dimgray;
    text-decoration: underline;
}

.sidenav
{
    background-color: dimgray;
    height:80%;
    width:0%;
    position:fixed;
    z-index:1;
    top:2px;
    left: 3px;
    overflow-x:hidden;
    transition:1s;
    padding-top:60px;
    border-radius:2px;
    opacity:0.8;
}

.sidenav a
{
    padding:8px 8px 8px 8px;
    text-decoration:none;
    font-size:25px;
    color:white;
    display:block;
    transition:.3s;
}

.sidenav a:hover
{
    color:black;
}

.sidenav .closebtn
{
    position:absolute;
    top:0;
    right:25px;
    font-size:larger;
    margin-left:70px;
}

#main
{
    transition:margin-left .5s;
    padding:16px;
}

@media screen and (max-height:450px)
{
    .sidenav{padding-top: 15px;}
    .sidenav a {font-size:20px;}
}

.middle
{
    margin-top:15px;
    margin-left:240px;
    background-image:url(cpp/455898.jpg);
    background-size: cover;
    border-radius:10px;
    width:750px;
    height:350px;
    opacity:0.9
}

.text
{
    padding:350px 0px 0px 115px;
    color:rgb(74, 53, 26);
}

.bottom
{
    margin-top:120px;
    height:100px;
}

.bottom a 
{
    text-decoration: none;
    color:black;
    transition:0.9s;
}

.bottom a :hover
{
    color:red;
    transform:scale(1.1);
}

.doctor
{
    margin-left:10%;
    border-radius:10px;
    padding:50px 60px 50px 60px;
    background-image:url(cpp/doctor.jpg);
    background-size: cover;
}

.education
{
    margin-left:10%;
    border-radius:10px;
    padding:50px 70px 50px 70px;
    background-image:url(cpp/health.ed.jpg);
    background-size: cover;
}

.donate
{
    margin-left:10%;
    border-radius:10px;
    padding:50px 70px 50px 70px;
    background-image:url(cpp/donation.jpg);
    background-size: cover;
}

.floor
{
    margin-top:5px;
    background-color:lightgray;
    display:flex
}

.motto
{
    flex:50%;
}

.motto h3
{
    margin-left:20px;
}

.motto p
{
    margin-left:40px;
    font-size:larger;
}

.time
{
    margin-left:3%;
}

.surplus
{
    flex:50%;
    margin-left:2%;
}

.surplus p
{
    font-size:larger;
}

.surplus a img
{
    transition:0.9s;
}

.surplus a img:hover
{
    transform: scale(1.1);
}

.mosurplus
{
    flex:50%;
}

.mosurplus p
{
    font-size:larger;
}

span
{
    margin-left:70%;
    font-size: larger;
}